@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding não afete o tamanho total */
    overflow-y: auto;
    overflow-x: auto;
}

body {
    background: linear-gradient(-45deg, #ee7752, #cf1616, #23a6d5, #23d5ab); /* Gradiente de laranja para rosa */
    font-family: "Raleway", serif;
    background-size: 400% 400%;
	animation: gradient 7s ease infinite;
    min-height: 100vh; /* Garante que o gradiente cubra toda a altura da tela */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


  