@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding não afete o tamanho total */
    overflow-y: auto;
    overflow-x: auto;
	color: rgb(0, 0, 0);
}

body {
    /* background: linear-gradient(#fcfcfc, #bf0505);  */
    font-family: "Raleway", serif;
	/* animation: gradient 7s ease infinite; */
    min-height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


  