@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding não afete o tamanho total */
    overflow-y: auto;
    overflow-x: auto;
}

body {
    background: linear-gradient(180deg, #010000, #887bfe); /* Gradiente de laranja para rosa */
    font-family: "Raleway", serif;
    min-height: 100vh; /* Garante que o gradiente cubra toda a altura da tela */
}