.master {
    min-width: 100vh;
}

.container1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 30;
}

.logo {
    text-decoration: none;
}

.homeBar {
    display: flex;
    padding-left: 40;
    justify-content: space-between;
}

.navMenu {
    display: flex;
    width: 70vh;
    justify-content: space-around;
}

.itensNav {
    display: flex;
    gap: 120;
}

.item {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 10;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    color: black;
}

.item:hover {
    color: grey;
    transform: scale(1);
}

.emailIcon {
    width: 20px;
    height: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    width: 80vh;
    height: 59vh;
    font-size: 15px;
    gap: 30px;
}

.subTitle{
    display: flex;
}

.apresentation {
    display: flex;
    align-items: center;
    padding-top: 120;
    justify-content: space-around;
    width: 170vh;
}

.name {
    font-size: 60px;
    background: -webkit-linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.image1 {
    overflow: hidden;
    border-bottom-right-radius: 30px;

}

.imagePic {
    width: 700px;
    height: 500px;
    border-bottom-right-radius: 30px;
}

.avatarPic {
    width: 40vh;
    height: 40vh;
    border-radius: 15%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-right: 30;
    margin-bottom: 40;
}

.title {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 30;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30;
}

.picture h2 {
    color: rgb(11, 10, 10);
    font-size: 10vh;
}


.imagePic {
    min-height: 100vh;
    min-width: 50vh;
}

.container2 {
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
}

.tech {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.techTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.techSubtitle {
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    margin-top: 5px;
}




.container3 {
    height: 30vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.titleProjects {
    display: flex;
    justify-content: center;
    padding: 10;
}


.footer {
    background-color: black;
}

.title {
    color: white;
}

.contactTitle {
    display: flex;
    justify-content: center;

}

.containerApre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.apre {
    text-align: center;
    width: 100%;
}

.desc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 20px;
    gap: 10px;
    padding: 10px;
}

.coolBeans {
  border: none;
  border-radius: 3rem;
  color: rgb(115, 0, 255);
  font-family: roboto, sans-serif;
  overflow: hidden;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  width: 10rem;
}

.coolBeans::after {
  background: -webkit-linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.coolBeans:hover::after {
  transform: translate(0, 0);
}

.coolBeans:hover {
  color: indigo;
  transform: scale(1.05);
  will-change: transform;
}