.title {
    color: white;
    margin-bottom: 20px; 
    display: flex;
    justify-content: center;
    padding: 30;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30;
}

.picture h2 {
    color: white; 
}

.apresentation{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imagePic{
    border-radius: 15%;
}

.container2{
   display: flex;
   justify-content: center;
}

.techList{
    display: flex;
    justify-content: center;
}

