.master {
    min-width: 100vh;
}

.container1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 30;
}

.logo {
    text-decoration: none;
}

.homeBar {
    display: flex;
    padding-left: 40;
    justify-content: space-between;
}

.navMenu {
    display: flex;
    width: 70vh;
    justify-content: space-around;
}

.itensNav {
    display: flex;
    gap: 120;
}

.item {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 10;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    color: black;
}

.item:hover {
    color: grey;
    transform: scale(1);
}

.emailIcon {
    width: 20px;
    height: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    width: 80vh;
    height: 50vh;
    font-size: 15px;
}

.subTitle{
    display: flex;
}

.apresentation {
    display: flex;
    align-items: center;
    padding-top: 120;
    justify-content: space-around;
    width: 170vh;
}

.name {
    font-size: 60px;
    background: -webkit-linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.image1 {
    overflow: hidden;
    border-bottom-right-radius: 30px;

}

.imagePic {
    width: 700px;
    height: 500px;
    border-bottom-right-radius: 30px;
}

.avatarPic {
    width: 40vh;
    height: 40vh;
    border-radius: 15%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

}

.title {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 30;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30;
}

.picture h2 {
    color: rgb(11, 10, 10);
    font-size: 10vh;
}


.imagePic {
    min-height: 100vh;
    min-width: 50vh;
}

.container2 {
    display: flex;
    justify-content: center;
}

.container3 {
    height: 30vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.titleProjects {
    display: flex;
    justify-content: center;
    padding: 10;
}

.techList {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: black;
}

.title {
    color: white;
}

.contactTitle {
    display: flex;
    justify-content: center;

}

.containerApre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.apre {
    text-align: center;
    width: 100%;
}

.desc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 20px;
    gap: 10px;
    padding: 10px;
}

.buttonCv {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
    width: 17vh;
    height: 5vh;
    margin-top: 10;
  }
  
  .buttonCv:active {
    transform: scale(0.96);
  }
  
  .buttonCv:before,
  .buttonCv:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .buttonCv:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .buttonCv:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }