
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 40;
        border-radius: 10;
    }

    .languageItem {
        padding: 20 50;
        background-color: black;
        color: white;
        border-radius: 20;
        font-size: 16;
        font-weight: bold;
    }

    .techIcons{
        width: 30vh;
        height: 30vh;
        object-fit: contain;
    }


    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 80px;
      }
      
      .iconWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        padding: 30px;
        transition: transform 0.3s ease-in-out;
      }
      
      .higher {
        transform: translateY(-40px);
      }
      
      .lower {
        transform: translateY(40px);
      }

      .iconTitle {
        margin-top: 8px;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
      }
      